*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    display: grid;
    grid-template-rows: 150px 1fr 10px;
    background-color: #29293B;
    
}
header{
    grid-area: header;
    height: 9.375rem;
    padding: 1rem;
}
.logo{
   width: 6.25rem;
   height: 3.125rem;
}
.menu{
    display: flex;
    gap: 7.813rem;
    font-size: 1.1rem;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    align-items: center;
    place-self: center;
    z-index: 1;
}
.menu :nth-child(1){
    background-image: url(./img/logo__site.png);
    width: 12.5rem;
    height: 4.375rem;
    background-repeat: no-repeat;
}
.menu :nth-child(2){
    color: #FE8A00;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.4s all ease;
}
.menu :nth-child(2):hover{
    color: #FE8A00;
    transition: 0.4s all ease;
}
.menu :nth-child(2)::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.125rem;
    bottom: -0.313rem;
    left: 0;
    background-color: #FE8A00;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
.menu :nth-child(2):hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.menu :nth-child(3){
    color: white;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.4s all ease;
}
.menu :nth-child(3):hover{
    color: white;
    transition: 0.4s all ease;
}
.menu :nth-child(3)::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.125rem;
    bottom: -0.313rem;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
.menu :nth-child(3):hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.menu :nth-child(4){
    color: white;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.4s all ease;
}
.menu :nth-child(4):hover{
    color: white;
    transition: 0.4s all ease;
}
.menu :nth-child(4)::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.125rem;
    bottom: -0.313rem;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
.menu :nth-child(4):hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.menu :nth-child(5){
    color: white;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.4s all ease;
}
.menu :nth-child(5):hover{
    color: white;
    transition: 0.4s all ease;
}
.menu :nth-child(5)::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.125rem;
    bottom: -0.313rem;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
.menu :nth-child(5):hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.menu :nth-child(6){
    color: white;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.4s all ease;
}
.menu :nth-child(6):hover{
    color: white;
    transition: 0.4s all ease;
}
.menu :nth-child(6)::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.125rem;
    bottom: -0.313rem;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
.menu :nth-child(6):hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.menu :nth-child(7){
    color: white;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.4s all ease;
}
.menu :nth-child(7):hover{
    color: white;
    transition: 0.4s all ease;
}
.menu :nth-child(7)::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.125rem;
    bottom: -0.313rem;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
.menu :nth-child(7):hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.menu :nth-child(8){
    background-image: url(./img/carrinho-de-compras.png);
    width: 2rem;
    height: 2rem;
}
.menu :nth-child(8):hover{
    transform: scale(1.2);
    transition: 0.4s ease;
}
.menu :nth-child(9){
    background-color: white;
    height: 2.5rem;
    width: 6.25rem;
    border-radius: 20px;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    padding: 0.625rem;
}
.menu :nth-child(9):hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}


.orangeball{
    position: absolute;
    width: 61.875rem;
    height: 61.875rem;
    left: 53.5rem;
    top: -16.25rem;
    background: #FE8A00;
    border-radius: 50%;
    transform: translateX(50%);
    z-index: -1;
}
main{
    grid-area: main;
    height: 1fr;
    display: flex;
    grid-template-areas: 
    "leftside rightside"
    "bottoms  rightside";
}
.leftside{
    grid-area: leftside;
    height: 100%;
    width: 50%;
    display: block;
    gap: 1.5rem;
    padding: 10.625rem;
   
}
.upbottom{
    position: relative;

   background-color: #FE8A00;
   border-radius: 2.5rem;
   color: white;
   width: 9.375rem;
   height: 2.5rem;
   text-align: center;
}
.upbottom:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}
.upbottom__text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 0.5rem;
    place-self: center;
}
.title{
    color: white;
    font-size: 4rem;
    width: 15.625rem;
    height: 11.25rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.text{
    width: 35.625rem;
    height: 9.375rem;
    font-family: 'Inter';
    color: white;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: 'Inter', sans-serif;
}
.bottoms{
    display: flex;
    gap: 2rem;
    place-items: end;
}
.orangebottom{
    background-color: #FE8A00;
    color: white;
    font-size: 1.25rem;
    width: 12.5rem;
    height: 3.75rem;
    border-radius: 2.5rem;
    text-align: center;
    
}
.orangebottom:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}
.orgbottom__text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 1rem;
    place-self: center;
}
.greenbottom{
    background-color: #3FA730;
    color: white;
    font-size: 1.25rem;
    width: 12.5rem;
    height: 3.75rem;
    border-radius: 2.5rem;
    text-align: center;
}
.greenbottom:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}
.grnbottom__text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 1rem;
    place-self: center;
}
.rightside{
    grid-area: rightside;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
footer{
    grid-area: footer;
    height: 0.625rem;
}

@media(max-width: 768px){

body{

    padding: 1rem;
    background-size: cover;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    display: grid;
    
}






}