*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    display: grid;
    grid-template-rows: 150px 1fr 10px;
    background-color: #29293B;
    
}
header{
    grid-area: header;
    background-color: tomato;
    height: 150px;
}
.orangeball{
    position: absolute;
    width: 874px;
    height: 878px;
    left: 856px;
    top: -260px;
    background: #FE8A00;
    border-radius: 50%;
    transform: translateX(50%);
}
main{
    grid-area: main;
    height: 1fr;
    display: flex;
    grid-template-areas: 
    "leftside rightside"
    "bottoms  rightside";
}
.leftside{
    grid-area: leftside;
    height: 100%;
    width: 50%;
    display: block;
    gap: 24px;
    padding: 150px;
   
}
.upbottom{
   background-color: #FE8A00;
   border-radius: 40px;
   color: white;
   width: 150px;
   height: 40px;
   text-align: center;
}
.title{
    color: white;
    font-size: 64px;
    height: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text{
    font-family: 'Inter';
    color: white;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}
.bottoms{
    display: flex;
    gap: 32px;
}
.orangebottom{
    background-color: #FE8A00;
    color: white;
    font-size: 20px;
    width: 200px;
    height: 60px;
    border-radius: 40px;
    text-align: center;
    transform: translateY(600%);
    
}
.orgbottom__text{

}
.greenbottom{
    background-color: #3FA730;
    color: white;
    font-size: 20px;
    width: 200px;
    height: 60px;
    border-radius: 40px;
    text-align: center;
    transform: translateY(600%);
}
.grnbottom__text{

}
.rightside{
    grid-area: rightside;
    height: 100%;
    width: 50%;
   
}
footer{
    grid-area: footer;
    background-color: royalblue;
    height: 10px;
}