*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    display: grid;
    grid-template-rows: 150px 1fr 10px;
    background-color: #29293B;
    
}
header{
    grid-area: header;
    background-color: tomato;
    height: 150px;
}
main{
    grid-area: main;
    height: 1fr;
    display: flex;
    grid-template-areas: 
    "leftside rightside";
}
.leftside{
    grid-area: leftside;
    height: 100%;
    width: 50%;
   
}
.rightside{
    grid-area: rightside;
    height: 100%;
    width: 50%;
   
}
footer{
    grid-area: footer;
    background-color: royalblue;
    height: 10px;
}